@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="service-item">
            <div class="service-img">
                <img src="~/Content/img/yuk-tasimacilik.jpg" alt="Image">
            </div>
            <h3>Evden Eve Nakliyat</h3>
            <p>
                En temiz ve güvenilir şekilde eşyalarınızı taşıyabiliriz.
            </p>

        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service-item">
            <div class="service-img">
                <img src="~/Content/img/yuk-tasimacilik.jpg" alt="Image">
            </div>
            <h3>Yük Taşıma</h3>
            <p>
                Güvenilir ve sağlam şekilde yüklerinizi taşıyabiliriz.
            </p>

        </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="service-item">
            <div class="service-img">
                <img src="~/Content/img/yuk-tasimacilik.jpg" alt="Image" />
            </div>
            <h3>Eşya Taşıma</h3>
            <p>
                Güvenilir ve sağlam şekilde yüklerinizi taşıyabiliriz.
            </p>

        </div>
    </div>
</div>