@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Lider Nakliyat Resmi Web Sitesi</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Favicon -->
    <link href="~/Content/img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="~/Content/lib/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/lib/lightbox/css/lightbox.min.css" rel="stylesheet">


    <!-- Template Stylesheet -->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="~/Scripts/jquery-3.3.1.js" type="text/javascript"></script>


    <script type="text/javascript">
        function initialize() {

            var latLng = new google.maps.LatLng(41.082837, 28.9645);

            var myOptions = { zoom: 7, center: latLng, mapTypeId: google.maps.MapTypeId.ROADMAP };
            var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        }
        $(document).ready(function () { initialize(); });
    </script>


</head>

    <body>
        <!-- Top Bar Start -->
        <div class="top-bar d-none d-md-block">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top-bar-left">
                            @*<div class="text">
                                @*<h2>8:00 - 9:00</h2>
                                <p>Opening Hour Mon - Fri</p>
                            </div>*@
                            @*<div class="text">
                                <h2>+123 456 7890</h2>
                                <p>Call Us For Appointment</p>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="top-bar-right">
                            <div class="social">

                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fa fa-phone-alt"></i></a>
                                <a href=""><i class="fa fa-map-marker-alt"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Bar End -->
        <!-- Nav Bar Start -->
        <div class="navbar navbar-expand-lg bg-dark navbar-dark">
            <div class="container-fluid">
                <a href="index.html" class="navbar-brand"><span>LİDER NAKLİYAT</span></a>
                <br />
                <br />
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ">
                        @*<a href="index.html" class="nav-item nav-link active">ANASAYFA</a>*@
                        @*<a href="about.html" class="nav-item nav-link">HİZMETLER</a>
                        <a href="portfolio.html" class="nav-item nav-link">GALERİ</a>*@
                        @*<div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu">
                                <a href="blog.html" class="dropdown-item">Blog Page</a>
                                <a href="single.html" class="dropdown-item">Single Page</a>
                            </div>
                        </div>*@
                        @*<a href="contact.html" class="nav-item nav-link">İLETİŞİM</a>*@
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Bar End -->
        <!-- Hero Start -->
        <div class="hero">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="hero-text">
                             
                            <h1>Neden Lider Nakliyat?</h1>
                            <p>
                                Eşyalarınızın ve evinizin daha uygun fiyatlara taşınmasını sağlıyor.. Hemen sitedeki numaralardan ve sosyal medya hesaplarımızdan bize ulaşın 
                                ve fiyat teklifi alın.
                            </p>
                            <a class="btn" href="https://htmlcodex.com/barber-shop-template">Hemen arayın</a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 d-none d-md-block">
                        <div class="hero-image">
                            <img src="~/Content/img/yetis-nakliye-istanbul-tasimacilik-slider-2-scaled.jpg" alt="Hero Image">
                            <img src="~/Content/img/Nakliye_Araci_Kredileri.jpg" alt="Hero Image">
                        </div>
                    </div>
                </div>
              
            </div>
        </div>
        <!-- Hero End -->
        <!-- Video Modal Start-->
        <div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!-- 16:9 aspect ratio -->
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="" id="video" allowscriptaccess="always" allow="autoplay"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Video Modal End -->
        <!-- About Start -->
        <div class="about">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 col-md-6">
                        <div class="about-img">
                            <img src="~/Content/img/kara-nakliye-gorseli.jpg" alt="Image">
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-6">
                        <div class="section-header text-left">
                            @*<p>Hizmtlerimiz</p>*@
                            <h2>15 Yıllık Deneyim</h2>
                        </div>
                        <div class="about-text">
                            <p>
                                2005'ten beri 15 yıl boyunca güven taşıdık.
                            </p>
                            <p>
                                Sizde bu deneyimlerden yarralanmak için bizi seçin güvenli bir şekilde taşıyalım.
                            </p>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->
        <!-- Service Start -->
        <div class="service">
            <div class="container">
                <div class="section-header text-center">
                    @*<p>Our Salon Services</p>*@
                    <h2>HİZMETLERİMİZ</h2>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="~/Content/img/yuk-tasimacilik.jpg" alt="Image">
                            </div>
                            <h3>Evden Eve Nakliyat</h3>
                            <p>
                                En temiz ve güvenilir şekilde eşyalarınızı taşıyabiliriz.
                            </p>
                           
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="~/Content/img/yuk-tasimacilik.jpg" alt="Image">
                            </div>
                            <h3>Yük Taşıma</h3>
                            <p>
                                Güvenilir ve sağlam şekilde yüklerinizi taşıyabiliriz.
                            </p>
                         
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="service-item">
                            <div class="service-img">
                                <img src="~/Content/img/yuk-tasimacilik.jpg" alt="Image"/>
                            </div>
                            <h3>Eşya Taşıma</h3>
                            <p>
                                Güvenilir ve sağlam şekilde yüklerinizi taşıyabiliriz.
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
     
        <!-- Blog Start -->
        <div class="blog">
            <div class="container">
                <div class="section-header text-center">
                    @*<p>Latest From Blog</p>*@
                    <h2>Galeri</h2>
                </div>
                <div class="owl-carousel blog-carousel">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="~/Content/img/esyatasima.PNG" alt="Image" />
                           
                        </div>
                        
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="~/Content/img/esyatasima.PNG" alt="Image" />
                        </div>
                       
                        
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="~/Content/img/esyatasima.PNG" alt="Image" />
                        </div>
                     
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="~/Content/img/esyatasima.PNG" alt="Image" />
                        </div>
                     
                    
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="~/Content/img/esyatasima.PNG" alt="Image" />
                        </div>
                      
                      
                    </div>
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="~/Content/img/esyatasima.PNG" alt="Image" />
                        </div>
                  
                       
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog End -->
        <!-- Footer Start -->
        <div class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="footer-contact">
                                    <h2>Adres Bilgileri</h2>
                                    <p><i class="fa fa-map-marker-alt"></i>Başakşehir,İstanbul</p>
                                    <p><i class="fa fa-phone-alt"></i>0538-654-78-94</p>
                                    <p><i class="fa fa-envelope"></i>info@lidernakliyat.com</p>
                                    <p><i class="fa fa-calendar"></i>Çalışma Saatleri : 08:00-17:00</p>
                                    <div class="footer-social">
                                        <a href=""><i class="fab fa-twitter"></i></a>
                                        <a href=""><i class="fab fa-facebook-f"></i></a>
                                        <a href=""><i class="fab fa-youtube"></i></a>
                                        <a href=""><i class="fab fa-instagram"></i></a>
                                        <a href=""><i class="fab fa-linkedin-in"></i></a>

                                    </div>
                                </div>
                                <p>Bize sayfamızda yer alan sosyal medya hesaplarımızdan,telefon numaramızla veya e-mail adresimizle ulaşabilirsiniz.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-5">
                        <iframe src="https://www.google.com/maps/d/embed?mid=1kn09YPnKWN7Fhk827FS1afOLRLcOSaAe" width="420" height="300"></iframe>

                        @*<div id="map_canvas" style="width:400px; height:300px; "></div>*@

                        @*<div class="form">
            <input class="form-control" placeholder="Email goes here">
            <button class="btn">Submit</button>
        </div>*@

                    </div>
                </div>
            </div>
            <div class="container copyright">
                <div class="row">
                    <div class="col-md-6">
                        <p>&copy; <a href="#">Tüm hakları saklıdır</a> </p>
                    </div>
                    <div class="col-md-6">
                        <p>Designed By ST.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
                    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
                    <script src="~/Content/lib/easing/easing.min.js"></script>
                    <script src="~/Content/lib/owlcarousel/owl.carousel.min.js"></script>
                    <script src="~/Content/lib/isotope/isotope.pkgd.min.js"></script>
                    <script src="~/Content/lib/lightbox/js/lightbox.min.js"></script>

                    <!-- Contact Javascript File -->
                    <script src="~/Content/mail/jqBootstrapValidation.min.js"></script>
                    <script src="~/Content/mail/contact.js"></script>

                    <!-- Template Javascript -->
                    <script src="~/Content/js/main.js"></script>
</body>
</html>
